nav, header, footer {
    display: block;
}
body {
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    line-height: 1;
    margin: 0;
}
/*########### THE NAV BAR ############*/
nav {
    width: 100%;
    margin: 0;
}
nav ul {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.navbar li {
    list-style: none;
    float: left;
}
ul.navbar li.righ {
    float: right;
}
ul.navbar li a {
    text-decoration: none;
    display: block;
    min-height: 17px;
    text-align: center;
    padding: 30px;
    color: white;
    font-family: "VT323", Arial, Helvetica, sans-serif;
}
ul.navbar li.cent a {
    margin-left: 1;

}
ul.navbar li a:hover {
    color: grey;
}
ul.navbar li.dropdown {
    display: none;
}
/*########### FOLDERS*/
table {
    width: 90%;
    display: block;
    margin-top: 130px;
    margin-left: 90px;
    overflow: hidden;
}
table tr {
    width: 100%;
    height: 70px;
}
table tr td {
    width: 100%;
    height: 60px;
    padding-left: 20px;
}
img {
    width: 80px;
    height:80px;
}
table tr.logo td img.logoimg {
    margin-left: 43%;
    position: relative;

}
table tr.leftfolder td img.rightfolder {
    margin-right: 170px;
    position: relative;
}
table tr.leftfolder td img.downbelow {
    margin-left: 10%;
}
/* ######### RESPONSIVESNESS ########*/

@media screen and (max-width: 680px) {
    ul.navbar li:not(:nth-child(1)){
        display: none;
    }
    ul.navbar li.dropdown {
        display: block;
        float: right;
    }

    ul.navbar.responsive {
        position: relative;
    }
    ul.navbar.responsive li.dropdown {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.navbar.responsive li {
        display: inline;
        float: none;
    }
    ul.navbar.responsive li a {
        display: block;
        text-align: left;
    }

}